@model WebPrototypeST10081850PROG7311.FARM

@{
    ViewBag.Title = "Manage Farmers";
}
<style>
    h2 {
        text-align: center;
    }
</style>

<h2>@Html.ViewBag.Title</h2>

@using (Html.BeginForm("btnCreateAccount_Clicked", "Employee", FormMethod.Post))
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.FARM_NAME, "FARM NAME", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.FARM_NAME, new { htmlAttributes = new { @class = "form-control", maxlength = 50 } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.ADDRESS, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ADDRESS, new { htmlAttributes = new { @class = "form-control", maxlength = 50 } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.USER.NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.USER.NAME, new { htmlAttributes = new { @class = "form-control", maxlength = 10 } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row justify-content-center">

                <div class="col-md-6">
                    @Html.LabelFor(model => model.USER.USERNAME, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.USER.USERNAME, new { htmlAttributes = new { @class = "form-control", maxlength = 10 } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.USER.PASSWORD.USER_PASSWORD, new { @class = "form-label" })
                    @Html.PasswordFor(model => model.USER.PASSWORD.USER_PASSWORD, new { @class = "form-control", maxlength = 50 })
                </div>
            </div>
        </div>

        <br />

        <div class="form-group">
            <div class="row justify-content-center">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-25">Create Account</button>
                </div>
            </div>
        </div>
    </div>
}
@*
    References:
    HTML Helpers
    https://www.tutorialsteacher.com/mvc/html-helpers
    jQuery Method
    https://www.w3schools.com/jquery/event_change.asp
    https://learn.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-5.0
    Maxlength
    https://stackoverflow.com/questions/10784538/mvc3-maxlength-input
    Dropdownlistfor
    https://stackoverflow.com/questions/28902331/how-to-use-dropdown-list-in-cshtml
    Minnimum for edditorfor
    https://social.msdn.microsoft.com/Forums/en-US/0d729e0a-11a0-4cd0-9391-9b43a7d93062/how-do-you-add-min-and-max-limits-for-ints-on-a-razor-form?forum=aspmvc
*@  